
ExpediaTV/ExpediaTV.xcodeproj/xcuserdata/ngrieble.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ExpediaTV/ExpediaTV.xcodeproj/project.xcworkspace/xcuserdata/ngrieble.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
